<section class="login">
  <div class="login__inner">
    <div *ngIf="userState | async as user; else unauthorized">
      <p>
        Logged in as <strong>{{ user.email }}</strong>
      </p>
      <button mat-stroked-button class="login__button" (click)="signOut()">
        <span class="login__text">Logout</span>
      </button>
    </div>
  </div>
  <ng-template #unauthorized>
    <h1>LOGIN</h1>
    <button mat-raised-button kanbanGoogleAuth class="login__button">
      <img class="login__icon" [src]="googleIcon" alt="google icon"/>
      <span class="login__text">Sign in with Google</span>
    </button>
  </ng-template>
</section>
