<section class="shell">
  <mat-sidenav-container class="shell__inner">
    <mat-sidenav #drawer class="shell__sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a *ngFor="let item of navItems" mat-list-item [routerLink]=item.path
           (click)="drawer.close()">{{ item.name }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <button type="button" aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="shell__logo" [routerLink]="['', routePath.Home]">🔥 Angular</span>
        <div *ngIf="!(isHandset$ | async)">
          <a *ngFor="let item of navItems | slice: 1: 4" mat-button [routerLink]=item.path>{{ item.name }}</a>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>list</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a *ngFor="let item of dropdownItems" mat-menu-item>
              <i class="shell__menu-icon">{{ item.icon }}</i>
              <span>{{ item.name }}</span>
            </a>
          </mat-menu>
        </div>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>

  </mat-sidenav-container>
</section>
